@page "/"

@attribute [AllowAnonymous]

@inject IRootInfoService _IRootInfoService;


<PageTitle>Home</PageTitle>

<p>
    CSS testing. Text with no CSS class
</p>

<p class="large">
    Text with large CSS class
</p>

<p class="dippy">Text - with CSS class: dippy</p>
<p class="skippy">Text - with CSS class: skippy</p>
<br />
<p> Root username retrieved from ENV: @testString</p>

@code {
    private string testString = "hello";

    protected override void OnInitialized()
    {
        testString = _IRootInfoService.GetRootUserName();
    }
}