@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<PageTitle>Home</PageTitle>

<p>
    Text with no CSS class
</p>

<p class="large">
    Text with large CSS class
</p>

<p>For some reason the CSS files of my razor components are not being picked up.</p>
<p>ONLY inline CSS seems to work.</p>