@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<PageTitle>Home</PageTitle>

<p>
    Text with no CSS class
</p>

<p class="large">
    Text with large CSS class
</p>

<p class="dippy">Text - class: dippy</p>
<p class="skippy">Text - class: skippy</p>