@page "/Account/ManageRoles"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using BlazorIdentityMongoDbMatteoFabbri.Data

@inject SignInManager<ApplicationUser> _SignInManager
@inject UserManager<ApplicationUser> _UserManager
@inject RoleManager<ApplicationRole> _RoleManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager _RedirectManager

@* @attribute [AllowAnonymous] *@
@attribute [Authorize(Policy = Constants.ADMINPOLICYNAME)]

<h3>Role Manager</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <section>
            <StatusMessage Message="@errorMessage" />
            <EditForm Model="Input" method="post" OnValidSubmit="CreateRole" FormName="RoleForm">

                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.RoleName" class="form-control" autocomplete="role name" aria-required="true"  />
                </div>

                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Create Role</button>
                </div>
            </EditForm>
        </section>
    </div>

</div>
<hr />
<h4>List of Current Roles</h4>
<ul style="max-height:100px">
    @foreach (var role in roles)
    {
        <li>@role.Name</li>
    }
</ul>


@code {
    private string? errorMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private List<ApplicationRole> roles = new List<ApplicationRole>();

    private string userRole { get; set; }
    protected override void OnInitialized()
    {
        roles = _RoleManager.Roles.ToList();
    }

    // protected override async Task OnInitializedAsync()
    // {
    //     roles = _RoleManager.Roles.ToList();
    // }

    private async Task CreateRole()
    {
        bool roleAlreadyExists = await _RoleManager.RoleExistsAsync(Input.RoleName);
        if(roleAlreadyExists)
        {
            _RedirectManager.RedirectToCurrentPageWithStatus($"Role {Input.RoleName} already exits.", HttpContext);
        }
        var response = await _RoleManager.CreateAsync(new ApplicationRole(Input.RoleName));
        if (response.Succeeded)
        {
            _RedirectManager.RedirectToCurrentPageWithStatus($"Role {Input.RoleName} Added!", HttpContext);
        }
        _RedirectManager.RedirectToCurrentPageWithStatus($"ERROR - Adding role {Input.RoleName} to DB!", HttpContext);
    }

    private sealed class InputModel
    {
        [Required]
        public string RoleName { get; set; } = "";

    }
}
